.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .custom-file-upload:hover {
    background-color: #eee;
  }
  
  .btn-upload {
    margin-left: 50px;
    background-color: #51cbce !important;
    visibility: visible !important;
  }
 
  .file-name {
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    max-width: 300px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  
.my-button-class {
  background-color: #51cbce!important;
 
  /* Other styles as needed */
}
.my-button-class:hover {
  background-color: red !important;
 
  /* Other styles as needed */
}
.react-select {
  width:100px !important; /* adjust this value to the desired width */
  margin-right:30px;
  margin-left: 30px;
}
/* Selection Page */
.containers {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.column {
  margin-bottom: 30px;
}

.cardStyle {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.cardStyle:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.cardHeader {
  background-color: #f7f7f7; /* Light gray background for header */
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid #e0e0e0; /* Slight border for separation */
}

.backgroundImage {
  height: 200px; /* Adjust this based on your needs */
  width: 100%;
  background-position: center;
  background-size: cover;
}

.cardInner {
  position: relative;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #0056b3;
}



/* Popup Uploaded File */ 
/* Style for modal */
.custom-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Adjusting modal content */
.custom-modal-content {
  width: 70%; /* Adjust width as needed */
  max-height: 80vh; /* Limit height to 80% of the viewport height */
  overflow-y: auto; /* Add scroll if content overflows */
}

/* If you have a lot of images, you might want to limit their width */
.custom-modal img {
  max-width: 100%;
  height: auto;
}


/*QTO ADDpopup */
.form-item {
  flex: 0 0 auto;
  margin-right: 10px;
  width: 200px; /* You can adjust this value to the desired width */
  height: 100px; /* Adjust the height as needed */
}

/* If the `Select` component dropdown is being clipped, you might need to adjust its z-index and overflow properties */
.form-item > Select {
  z-index: 10;
}
.popup-qto {
  width:1500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Default semi-transparent black overlay */
  /* other styles such as positioning to cover the full viewport */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000; /* this ensures it's above other content */
}

@supports (backdrop-filter: blur(5px)) {
  .backdrop {
      background-color: rgba(0, 0, 0, 0.3); /* Lighter overlay since we'll have blur */
      backdrop-filter: blur(5px);
  }
}

/* PopUp */
.popup {
  width:500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.form-group-col {
  display: inline-block;
  width: 45%; /* adjust as needed */
  margin-right: 5%; /* adjust as needed */
  vertical-align: top;
}

/* Sales */
.popup-sales {
  width:950px;
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.form-group-col-sales{
  display: inline-block;
  width: 10%; /* adjust as needed */
  margin-right: 5%; /* adjust as needed */
  margin-left: 5%;
  vertical-align: top;
}
.popup-sales .card-footer {
  display: flex;
  justify-content: space-between;
}

.popup-sales .card-footer button {
  margin-right: 10px;
}

.popup-sales .card-footer button:last-child {
  margin-right: 0;
  margin-left: auto;
}

/* */

.popup .card-footer {
  display: flex;
  justify-content: space-between;
}

.popup .card-footer button {
  margin-right: 10px;
}

.popup .card-footer button:last-child {
  margin-right: 0;
  margin-left: auto;
}

/*loading spinner */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 30px;
  height: 30px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #51cbce; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}






.scrollable-table tbody {
  display: block;
  max-height: 1400px; /* Adjust this value to your desired height */
  overflow-y: auto;
}

.scrollable-table thead,
.scrollable-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.scrollable-table th,
.scrollable-table td {
  border-right: 1px solid #dee2e6; /* Adjust the color and thickness of the line as needed */
}

.scrollable-table th:last-child,
.scrollable-table td:last-child {
  border-right: none;
}


/* Seperator for disabled forms for Stock Account */
.separator {
  border-bottom: 1px solid #ccc;  /* You can choose any color you prefer */
  display: block;
  margin-bottom: 5px; /* Adjust spacing if necessary */
}
.circle-value {
  border: 2px solid #ccc; 
  border-radius: 50%; 
  width: fit-content;
  padding: 5px 10px; /* Adjust padding to get the desired space inside the circle */
  text-align: center;
  display: inline-block;
  margin-bottom: 5px; 
}


/*Delete button for images ProductIn/OutFlow*/

.file-item {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.file-item img {
    display: block;
    max-width: 100%;
}

.delete-button {
    position: absolute;
    top: 10px;      /* Adjust as needed */
    right: 10px;    /* Adjust as needed */
    background-color: rgba(255, 0, 0, 0.7); /* semi-transparent red */
    color: white;
    border: none;
    border-radius: 50%; /* makes the button circular */
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: rgba(255, 0, 0, 0.9); /* darker red on hover */
}