@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.-btn {
  background-color: black !important;  /* Ensure override */
  color: white !important;
  transition: background-color 0.3s ease, color 0.3s ease;  /* Smooth transition for hover effect */
}

.-btn:hover {
  background-color: white !important;
  color: black !important;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .custom-file-upload:hover {
    background-color: #eee;
  }
  
  .btn-upload {
    margin-left: 50px;
    background-color: #51cbce !important;
    visibility: visible !important;
  }
 
  .file-name {
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    max-width: 300px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  
.my-button-class {
  background-color: black!important;
 
  /* Other styles as needed */
}
.my-button-class:hover {
  background-color: white !important;
 
  /* Other styles as needed */
}
.wide-btn {
  background-color: black !important;
  color:white !important;
  width: 100%;
  height:90%;
  transition: background-color 0.3s;
}

.wide-btn:hover {
  background-color: gray !important;

}
.wide-btn:disabled {
  background-color: grey;
  color: white;
  cursor: not-allowed;
}
.react-select {
  width:100px !important; /* adjust this value to the desired width */
  margin-right:30px;
  margin-left: 30px;
}
/* Selection Page */
.containers {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.column {
  margin-bottom: 30px;
}

.cardStyle {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.cardStyle.fixed-height {
  height: 200px; /* You can adjust this value to whatever height you desire */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonContainer {
  margin: 10px; /* Give some space around the button */
}


.cardStyle:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.cardHeader {
  background-color: #f7f7f7; /* Light gray background for header */
  padding: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #e0e0e0; /* Slight border for separation */
}

.backgroundImage {
  height: 200px; /* Adjust this based on your needs */
  width: 100%;
  background-position: center;
  background-size: cover;
}

.cardInner {
  position: relative;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #0056b3;
}



/* Popup Uploaded File */ 
/* Style for modal */
.custom-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Adjusting modal content */
.custom-modal-content {
  width: 70%; /* Adjust width as needed */
  max-height: 80vh; /* Limit height to 80% of the viewport height */
  overflow-y: auto; /* Add scroll if content overflows */
}

/* If you have a lot of images, you might want to limit their width */
.custom-modal img {
  max-width: 100%;
  height: auto;
}


/*QTO ADDpopup */
.form-item {
  flex: 0 0 auto;
  margin-right: 10px;
  width: 200px; /* You can adjust this value to the desired width */
  height: 100px; /* Adjust the height as needed */
}

/* If the `Select` component dropdown is being clipped, you might need to adjust its z-index and overflow properties */
.form-item > Select {
  z-index: 10;
}
.popup-qto {
  width:1500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Default semi-transparent black overlay */
  /* other styles such as positioning to cover the full viewport */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000; /* this ensures it's above other content */
}

@supports (backdrop-filter: blur(5px)) {
  .backdrop {
      background-color: rgba(0, 0, 0, 0.3); /* Lighter overlay since we'll have blur */
      backdrop-filter: blur(5px);
  }
}
/* PopUp */
.popup {
  width: 80%; /* Set to 80% by default for mobile screens */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  box-sizing: border-box; /* To make sure padding and border are included in width */
}

/* Desktop */
@media (min-width: 768px) { 
  .popup {
    width: 500px; /* Set a fixed width for desktop sizes */
  }
}

.form-group-col {
  display: inline-block;
  width: 45%; /* adjust as needed */
  margin-right: 5%; /* adjust as needed */
  vertical-align: top;
}

/* Sales */
.popup-sales {
  width:950px;
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.form-group-col-sales{
  display: inline-block;
  width: 10%; /* adjust as needed */
  margin-right: 5%; /* adjust as needed */
  margin-left: 5%;
  vertical-align: top;
}
.popup-sales .card-footer {
  display: flex;
  justify-content: space-between;
}

.popup-sales .card-footer button {
  margin-right: 10px;
}

.popup-sales .card-footer button:last-child {
  margin-right: 0;
  margin-left: auto;
}

/* */

.popup .card-footer {
  display: flex;
  justify-content: space-between;
}

.popup .card-footer button {
  margin-right: 10px;
}

.popup .card-footer button:last-child {
  margin-right: 0;
  margin-left: auto;
}

/*loading spinner */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 30px;
  height: 30px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #51cbce; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}






.scrollable-table tbody {
  display: block;
  max-height: 1400px; /* Adjust this value to your desired height */
  overflow-y: auto;
}

.scrollable-table thead,
.scrollable-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.scrollable-table th,
.scrollable-table td {
  border-right: 1px solid #dee2e6; /* Adjust the color and thickness of the line as needed */
}

.scrollable-table th:last-child,
.scrollable-table td:last-child {
  border-right: none;
}


/* Seperator for disabled forms for Stock Account */
.separator {
  border-bottom: 1px solid #ccc;  /* You can choose any color you prefer */
  display: block;
  margin-bottom: 5px; /* Adjust spacing if necessary */
}
.circle-value {
  border: 2px solid #ccc; 
  border-radius: 50%; 
  width: fit-content;
  padding: 5px 10px; /* Adjust padding to get the desired space inside the circle */
  text-align: center;
  display: inline-block;
  margin-bottom: 5px; 
}


/*Delete button for images ProductIn/OutFlow*/

.file-item {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.file-item img {
    display: block;
    max-width: 100%;
}

.delete-button {
    position: absolute;
    top: 10px;      /* Adjust as needed */
    right: 10px;    /* Adjust as needed */
    background-color: rgba(255, 0, 0, 0.7); /* semi-transparent red */
    color: white;
    border: none;
    border-radius: 50%; /* makes the button circular */
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: rgba(255, 0, 0, 0.9); /* darker red on hover */
}


/* Login Page */
.card-login {
  z-index: 10; 
  position: relative;
}

.stockruct-title {
  position: absolute;
  top: 50%;
  left: 18%;
  font-size: 3em;
  color: #ffffff;
  font-weight: bold;
  z-index: 2;
  transform: translateY(-50%);
  font-family: 'Poppins', sans-serif;

  /* For the square dot */
  display: flex;
  align-items: center;
}

.stockruct-title:after {
  content: '■';  /* Unicode square character */
  font-size: 1.2em;
  margin-left: 0.2em;  /* Slight spacing */
}
.animated-letter {
  opacity: 0;
  transform: translateY(1em); /* starts slightly below their final position */
  animation: appear 0.5s forwards;
  display: inline-block;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.login-page {
  font-family: 'Poppins', sans-serif;
}



.form {
    padding-left: 20px; /* adjust as needed */
}
.card-login {
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  top:20px;
  
}

.text-center {
  font-weight: 600;
}

.nc-icon {
  color: black;
}

.btn-block.mt-4 {
  opacity: 1 !important;          /* Ensures the button is fully opaque*/
  background-color: black !important; /* Set to whatever color you want*/
  color: white !important;       /* Set the text color appropriately*/
}

.btn-block:hover {
  background-color: #555;
}


.vertical-line {
  z-index: 10;
  border-left: 3px solid white;
  height: 50vh;             /* This is half the viewport height */
  position: absolute;
  top: 50%;                 /* Move the top of the line to the center of the viewport */
  left: 50%;
  margin-left: -1.5px;      /* This is half the width of the line, to center it perfectly */
  transform: translateY(-50%); /* This moves the line upwards by half of its height, thus centering it vertically */
  animation: slideLine 2s forwards; /* assuming the stockruct animation takes about 2s */
}



/* Animation for the vertical line */
@keyframes slideLine {
  0% { left: 48%; }
  100% { left: 50%; }
}


@media (max-width: 768px) {
  .login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; /* Add space at the top if needed */
  }

  .stockruct-title {
    position: static;
    text-align: center;
    width: 100%; /* Use the full width */
    display: flex; /* Using flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    margin-bottom: 20px; /* Give it some space below */
  }

  .vertical-line {
    border-left: none; /* Remove the vertical border */
    border-top: 3px solid white; /* Add a horizontal border */
    width: 100%; /* Make it span the entire width */
    height: auto; /* Reset the height */
    position: static; /* Reset positioning */
    transform: none; /* Remove any transformations */
    margin: 15px 0; /* Give it some vertical spacing */
  }

  /* ... other mobile styles ... */
}
/* */
/*Add icons for ProductInFlow Product Addition */
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  color: black;  /* Color of the icons */
  font-size: 20px;  /* Size of the icons */
  margin: 0 5px;  /* Spacing around the icons */
}

.icon-button:focus {
  outline: none;
}


.row-separator {
  width: 100%;
  border: 0;
  border-top: 1px solid #e0e0e0; /* Adjust color as needed */
  margin: 15px 0; /* Adjust margin as needed */
}

.row-subheader {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}


/* PopUp */
.popup-inflow {
  width: 80%; /* Set to 80% by default. Adjust as needed */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh; 
  overflow-y: auto;
  padding-right: 15px;
  z-index: 100;
  box-sizing: border-box; /* So padding is included in the width */
}

/* Desktop */
@media (min-width: 768px) { /* This breakpoint is arbitrary. Adjust as needed. */
  .popup-inflow {
    width: 500px; /* Set a fixed width for desktop sizes */
  }
}


.modal-body-scroll {
  max-height: 500px;  /* You can adjust this value according to your needs */
  overflow-y: auto;
}

.product-details {
  font-family: 'Arial', sans-serif;
  border: 1px solid #e5e5e5;
  padding: 10px;
  border-radius: 5px;
  max-width: 500px;
}

.product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  color: black; /* or any color you prefer for the edit icon */
}

.detail-row {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.detail-title {
  width: 200px; /* Adjust this value to your preference */
  font-weight: 600;
}


/* horizontal table for products */
.modal-body-scroll {
  max-height: 400px;
  overflow-y: auto;
}

.horizontal-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0; 
}

.horizontal-table th {
  border: 1px solid #e0e0e0;
  padding: 0px 25px;  /* Increased padding for a taller header */
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
  z-index: 2; 
}

.horizontal-table td {
  border: 1px solid #e0e0e0;

}
.custom-modal-content {
  overflow-x: auto;
}
/* For mobile screens */
@media (max-width: 768px) {
  .modal-dialog {
      width: 100%;
      margin: 0;
  }
}